# FastAPI + ASGI server
fastapi
uvicorn[standard]

# Database (SQLAlchemy + Postgres)
SQLAlchemy
psycopg2-binary

# Pydantic for validation & configuration
pydantic
pydantic-settings

# Security / Auth
passlib
bcrypt==4.0.1          
python-jose[cryptography]
python-multipart

# File Handling
aiofiles

# Configuration
python-dotenv

# Testing
pytest
httpx